on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Clone repository
              uses: actions/checkout@v5

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PAT }}

            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push Docker image
              uses: docker/build-push-action@v3
              with:
                context: .
                push: true
                tags: ${{ vars.DOCKER_USERNAME }}/card-generator-backend:latest
            
            - name: Decode .env file
              run: echo "${{ secrets.ENV_FILE_CONTENTS }}" | base64 -d > .env

            - name: Decode SSH private key
              run: |
                echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" | base64 -d > ssh_key
                chmod 400 ssh_key

            - name: Copy .env file to server
              uses: appleboy/scp-action@master
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key_path: "ssh_key"
                source: ".env"
                target: "/home/${{ secrets.EC2_USER }}/card-generator-be"

            - name: Restart backend service
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key_path: "ssh_key"
                script: |
                  cd /home/${{ secrets.EC2_USER }}/card-generator-be
                  ./run.sh